/* Main Grid */
* {
    box-sizing: border-box;
    margin: 0;
    font-family: sans-serif;
    white-space: pre-wrap;
}

body {
    overflow: hidden;
}

main {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* overflow: hidden; */
}

.navigation {
    position: fixed;
    z-index: 9998;
    top: 10px;
    /* left: 0px; */
    display: flex;
    flex-direction: column;
    overflow: visible;
    width: 55px;
    /* visibility: hidden;
    animation: displayNav 0s 3s forwards; */
    animation: 4s ease 0s normal forwards 1 fadein;
}

@keyframes fadein {
    0% {
        opacity: 0;
        left: -100%;
    }
    50% {
        opacity: 0;
        left: -100%;
    }
    100% {
        opacity: 1;
        left: 0;
    }
}

@keyframes displayNav {
    to {
        visibility: visible;
    }
}

.nav-logo {
    width: 55px;
    height: 55px;
    /* border-radius: 0 5px 5px 0; */
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.459);
    border-radius: 0 15px 15px 0;
    padding: 5px;
    border: none;
}

.navigation:hover .nav-logo {
    /* background-color: rgba(255, 255, 255, 0.685); */
    background-color: rgb(253 192 84);
}

.nav-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* width: max-content; */
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s linear 0s, opacity 500ms;
}

.nav-element {
    position: relative;
    left: calc(-100% + 40px);
    transition: 0.5s;
    background-color: rgba(255, 255, 255, 0.459);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 0 15px 15px 0;
    color: black;
    margin: 3px 0;
    padding: 0 5px;
    width: max-content;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

.navigation:hover .nav-content {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity 1000ms;
}

.nav-element:hover {
    /* background-color: rgb(253 192 84); */
    background-color: rgba(255, 255, 255, 0.842);
    left: 0;
}

.nav-icon {
    width: 35px;
    height: 35px;
    border-radius: 0 5px 5px 0;
    padding: 5px;
    overflow: hidden;
}

.central {
    padding: 30px 0;
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(153 153 153);
}

label {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

footer {
    width: 100%;
    height: 30px;
    background-color: rgb(111 111 111);
    border-top: 1px solid black;
    color: black;
    font-weight: 500;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
/* main grid */

/* Basic rulesets */
button {
    width: max-content;
    padding: 5px;
    margin: 10px;
    cursor: pointer;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

p {
    text-decoration: none;
    font-weight: normal;
}

input,
textarea {
    font-family: sans-serif;
    background-color: rgba(255, 255, 255, 0.5);
    outline: none;
    margin: 8px;
}

select {
    font-family: sans-serif;
    outline: none;
    margin-left: 5px;
    width: 100%;
}

textarea {
    width: 95%;
    height: 70%;
    font: 1em sans-serif;
}

input[type="date"] {
    width: 120px;
    /* background-color: #fff; */
}

input[name="searchLocation"] {
    width: 60%;
    min-width: 300px;
    padding: 15px;
    font-size: 1.1rem;
    border-radius: 15px;
    /* background-color: #fff; */
}
input[name="searchFriend"] {
    width: 95%;
    /* min-width: 300px; */
    padding: 5px 15px;
    font-size: 1rem;
    border-radius: 15px;
    /* background-color: #fff; */
}
input[name="filterFriend"] {
    width: 50%;
    /* min-width: 300px; */
    padding: 10px 15px;
    font-size: 1.05rem;
    border-radius: 15px;
    /* background-color: #fff; */
}

input[name="first"],
input[name="last"],
input[name="code"],
input[type="password"],
input[type="email"] {
    width: 250px;
    padding-top: 5px;
    border: 0;
    border-bottom: 2px solid orangered;
    font-size: 1.1em;
    background-color: transparent;
}

input[name="age"],
input[name="name"] {
    margin: 0;
    margin-left: 5px;

    /* width: 250px; */
    /* padding-top: 5px; */
    border: 0;
    /* background-color: #fff; */
    /* border-bottom: 4px solid orangered; */
    font-size: 1em;
}

textarea[name="description"] {
    height: 50%;
    /* background-color: #fff; */
}

textarea[name="comment"] {
    height: 60%;
}

.out {
    justify-content: space-evenly;
    /* background-color: rgb(48, 103, 68); */
}

.container-frame {
    width: 100%;
    max-height: 100%;
    overflow: auto;
}

.card-container {
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
}

.inprofile {
    width: max-content;
}
.horizontal {
    flex-direction: row;
    flex-wrap: nowrap;
}

.vertical {
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.wrapped {
    flex-wrap: wrap;
}

.card {
    position: relative;
    margin: 25px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

.card-image {
    position: relative;
    width: 100%;
    height: 50%;
}

.card-image-edit {
    height: 33%;
}

.card-thumb {
    position: absolute;
    top: 0;
    right: 0;
    width: 35%;
    height: 25%;
    background-color: #fff;
}

.card-text {
    width: 100%;
    /* height: 50%; */
    padding: 5px 5px 0 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card-foot {
    width: 100%;
    padding: 3px 5px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
}

.small {
    width: 100px;
    height: 150px;
}

.medium {
    width: 180px;
    height: 230px;
}

.wide {
    width: 360px;
}

.extrawide {
    width: 500px;
}

.wide-small {
    width: 250px;
}

.split {
    flex-direction: row;
    justify-content: flex-start;
}

.card-left {
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    width: 180px;
    height: 100%;
    position: relative;
}

.card-left .card-image {
    height: 70%;
}

.card-left-XL {
    position: relative;
    height: 100%;
    width: 250px;
}

.percent {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.75);
    padding: 5px;
    color: red;
}

.percent-small {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.75);
    padding: 2px;
}

.card-right {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 180px;
    height: 100%;
    padding: 5px 5px 5px 15px;
}

.card-right-match {
    width: 250px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 15px;
}

.card-right-match div {
    width: 100%;
}

.start {
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.523);
}

.form {
    padding: 5px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    overflow: hidden;
}

.overlay {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.uploader {
    position: relative;
    width: 400px;
    height: 250px;
    color: black;
    background-color: rgb(255 255 255 / 86%);
    border-radius: 15px;
    overflow: hidden;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.upload {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}
/* end of basic rulesets */

.profile-frame {
    width: 100%;
    height: 250px;
    /* min-height: 500px; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
    background-color: rgba(255, 255, 255, 0.2);
}

.prof {
    justify-content: space-evenly;
}

.profile {
    position: relative;
    width: 30%;
    margin-right: 30px;
    overflow: auto;
    white-space: pre-wrap;
}
.profile p {
    margin: 5px 0;
}

.profile.picture {
    overflow: hidden;
}
.profile.data {
    padding: 10px;
}
.profile.description {
    padding: 10px;
}

#searchContent {
    width: 80%;
    min-width: 300px;
    padding: 5px;
    font-size: 1.1rem;
    border-radius: 15px;
    margin: 15px;
}

.location {
    width: 100%;
    height: 100%;
}

.location-head {
    background-color: rgba(255, 255, 255, 0.8);
    margin: 20px;
    padding: 20px;
    border-radius: 15px;
}

.location-head h1,
.location-head p {
    display: inline;
    padding: 0 10px;
}

.location-body {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 100%;
    overflow: hidden;
}

.location-left,
.location-right {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.75);
    margin: 10px;
    display: flex;
    flex-direction: column;
    /* width: 60%; */
    height: 100%;
    padding: 20px;
    /* overflow: hidden; */
    /* border: 1px solid black; */
}

.location-left {
    width: 60%;
}
.location-right {
    width: 40%;
}

.info-block {
    width: 100%;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
}

.infos {
    margin: 5px;
    padding: 10px;
    width: 95%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.infos-content {
    padding: 5px 5px 5px 15px;
}

.social {
    justify-content: flex-start;
    align-items: center;
}

.social > div {
    display: flex;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* .friend-one {
} */
.friend-two {
    height: 100%;
    overflow: hidden;
    /* display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; */
}

.grow-split {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.grow-split > div {
    width: 30%;
    max-height: 100%;
    overflow: hidden;
    /* border: 1px solid black; */
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.568);
    padding: 10px;
}

.friendBtn {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.noFriendMsg {
    /* width: 100%; */
    align-self: center;
}

.found-friend {
    margin: 10px 0;
    padding-right: 10px;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    overflow: hidden;
    background-color: #ffffffa6;
    /* color: rgba(255, 255, 255, 0.87); */
    border-radius: 5px;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}
.found-friend:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
}

.friend-pic-small {
    width: 30%;
    height: 100%;
    /* margin: 5px; */
    overflow: hidden;
}

.friend-summary {
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    overflow: hidden;
}

.friend-arrow {
    margin-top: 50px;
    width: 30px;
    height: 30px;
}

.friend-function {
    position: absolute;
    width: 250px;
    height: 100%;
    top: 0;
    /* right: -40px; */
    /* z-index: 6; */
    /* transition: transform 0.5s; */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    right: 10px;
}

.friend-function img {
    cursor: pointer;
    width: 30px;
    height: 30px;
}

.friend-function:hover {
    /* transform: translateX(-50px); */
}

.social h1 {
    margin: 10px 0;
}

.add {
    align-items: center;
    width: 20%;
    align-self: center;
    border-radius: 10px;
    cursor: pointer;
}

.out-main {
    padding: 20px;
    border-radius: 15px;
    width: 550px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.out h1 {
    color: black;
}

.form-out {
    display: flex;
    flex-direction: column;
    width: auto;
    /* flex-wrap: wrap; */
}

.form-out button {
    margin: 10px;
    position: relative;
    /* background-color: tomato; */
    font-weight: bold;
    border-radius: 5px;
    padding: 5px;
    font-size: 1em;
    width: 90%;
    min-width: 150px;
    height: 30px;
    overflow: hidden;
}

.getting-started {
    background-color: rgba(255, 255, 255, 0.8);
    max-width: 50%;
    border-radius: 15px;
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.link-out {
    padding: 15px;
    margin: 15px;
    text-align: center;
    background-color: rgb(253 192 84);
    border-radius: 200px;
}

.grey {
    background-color: grey;
}

.todo {
    color: red;
}

.chat {
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid black; */
}

.target {
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.target div {
    padding: 0 15px;
}

.messages {
    height: 100%;
    width: 100%;
    overflow: auto;
    border-top: 1px dotted black;
    border-bottom: 1px dotted black;
}

.messages-no {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.message {
    background-color: rgb(9 130 85 / 75%);
    width: 95%;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
}

.message-own {
    background-color: rgb(9 130 85 / 35%);
    width: 95%;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
}

.message-head {
    text-align: right;
    padding: 5px;
}

.msg-input {
    width: 100%;
}

.msg-input textarea {
    margin: 0;
}

.new-message {
    height: 100px;
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.subtext {
    font-size: 0.7em;
    font-style: italic;
}

.user {
    display: flex;
    flex-direction: row;
}

.user-infos {
    height: 90%;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.user-image {
    /* heights: 30%; */
    width: 90%;
}

.noChat {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-description {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    cursor: pointer;
}

.uploader-head {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.uploader-body {
    width: 100%;
    height: 100%;
    position: relative;
}

#file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

label[htmlFor="file"] {
    width: 70%;
    height: 40px;
    overflow: hidden;
    border-bottom: 2px solid orangered;
    display: flex;
    flex-direction: column;
    margin: 0 20px;
    padding: 0 5px;
}

label img {
    width: 30px;
    height: 30px;
}

label span {
    padding-left: 5px;
    overflow: hidden;
}

#file + label {
    font-size: 1.15em;
    font-family: Arial, Helvetica, sans-serif;

    display: inline-block;
    cursor: pointer;
}

#file + label * {
    pointer-events: none;
}

.error-btn {
    color: red;
}
.white-btn {
    color: white;
}

.logoStart {
    width: 150px;
    height: 150px;
}

.logoStartFrame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: #bb883c63; */
    padding: 30px;
    /* border-radius: 40px; */
    /* border: 6px solid black; */
}
.logoStartFrame h1 {
    margin: 0;
}

.rating {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5px;
    /* background-color: rgba(255, 255, 255, 0.646); */
    align-items: center;
}

.rating span {
    cursor: pointer;
    font-style: italic;
}

#user-detail-left {
    position: relative;
    background-color: rgba(255, 255, 255, 0.646);
    height: 100%;
    width: 60%;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

#user-detail-head {
    height: 40%;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

#user-detail-image-frame {
    position: relative;
    width: 40%;
}

.user-online,
.user-offline {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.534);
    padding: 5px;
}

.user-offline {
    color: red;
}

.user-online {
    color: green;
}

#user-detail-description {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#user-detail-matches {
    /* maybe add a new container around */
}

.temp {
    width: 100%;
    /* height: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
}

.activeTitle {
    text-transform: uppercase;
}

.photocredit-out {
    position: absolute;
    bottom: 0;
    right: 0;
    color: white;
    background-color: transparent;
    text-align: right;
}

.spinner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loading {
    /* display: inline-block; */
    width: 50px;
    height: 50px;
    border: 3px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    border-top-color: black;
    animation: spin 2s ease-in-out infinite;
    -webkit-animation: spin 2s ease-in-out infinite;
}

@keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}
@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}
